
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #282828;
    text-align: center; /* center the content */
    font-family: Comic Neue, sans-serif;
    padding-top: 5%; /* add some padding on the top */
}

#main {
    text-align: center;
}

h1 {
    color: #d4be98;
}

a {
    display: block; /* make links line by line */
    margin: 1em 0; /* add margins above and below */
    text-decoration: none; /* remove underline */
    color: #AF99BF;
}
